#header {
  background-color: var(--header-color);
  height: 72px;
}

.header-container {
  padding-top: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & input {
    width: 1085px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--input-color);
    border: 1px solid var(--input-color);
  }

  & input::placeholder {
    color: var(--white--color);
    font: var(--input);
    padding-left: 20px;
  }
}
